:root {
    --prymary-text-color: #212121;
    --title-text-color: #ffffff;
    --accent-text-color: #2196f3;
    --function-text-color: #757575;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #e5e5e5;
}

.list {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 1px solid rgb(190, 15, 15);
}

/* -------------header-------------- */
.header {
    padding-top: 24px;
    padding-bottom: 25px;
    background-color: var(--title-text-color);
    border-bottom: 1px solid #ececec;
}
.header-conteiner {
    display: flex;
}
.navigation {
    display: flex;
    align-items: center;
}
.header-list {
    display: flex;
    margin-left: auto;
}
.header-item + .header-item {
    margin-left: 50px;
}
.header-connect {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.logo {
    margin-right: 93px;
    /* padding-top: 24px;
    padding-bottom: 25px; */

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--prymary-text-color);
}
.logo-first {
    color: var(--accent-text-color);
}

.header-link {
    /* font-style: 400; */
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--prymary-text-color);
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
    color: var(--accent-text-color);
}
.current {
    color: var(--accent-text-color);
    position: relative;
}
.current::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: var(--accent-text-color);
    border-radius: 2px;
    left: 0;
    bottom: -32px;
}
.header-link-mail {
    display: flex;
    align-items: center;

    fill: var(--function-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--function-text-color);
    text-decoration: none;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-mail:hover,
.header-link-mail:focus {
    color: var(--accent-text-color);
    fill: var(--accent-text-color);
}
.header-icon {
    margin-right: 10px;
    /* 
    fill: var(--function-text-color); */
}
.header-link-tel {
    display: flex;
    /* align-items: center; */

    fill: var(--function-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--function-text-color);
    text-decoration: none;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-tel:hover,
.header-link-tel:focus {
    color: var(--accent-text-color);
    fill: var(--accent-text-color);
}

/* ------------hero------------- */

.hero-conteiner-btn {
    justify-content: center;
    display: flex;
}
.hero {
    background-color: #2f303a;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;

    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.hero-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 30px;
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-text-color);
    color: var(--title-text-color);
    border-radius: 10px;
    border-color: transparent;
    min-width: 200px;
    height: 50px;

    transition-property: border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    border-radius: 0px;
}

/* -----------about--------------- */

.section {
    padding: 94px 0;
}
.about-item-icon {
    margin-bottom: 30px;

    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-item-icon + .about-item-icon {
    margin-left: 30px;
}

/* text-off */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.about-list {
    display: flex;
}
.about-item + .about-item {
    margin-left: 30px;
}
.about-icon-box {
    margin-bottom: 30px;

    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    vertical-align: top;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: var(--prymary-text-color);
    text-transform: uppercase;
}
.about-text {
    /* padding-bottom: 94px; */

    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--function-text-color);
}

/* -------------function-------------- */

.function {
    padding-top: 0;
}
.function-title {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--prymary-text-color);
    margin-bottom: 50px;
}
.function-list {
    display: flex;
}

.function-item {
    position: relative;
}

.function-item + .function-item {
    margin-left: 30px;
}
.function-wrap {
    position: relative;
}
.function-top-text {
    position: absolute;
    top: 224px;
    left: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px;
    width: 100%;
}

/* -------------staff-------------- */
.staff {
    background-color: #f5f4fa;
}

.staff-list {
    display: flex;
}

.staff-list .staff-item:not(:last-child) {
    margin-right: 30px;
}

.staff-title {
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--prymary-text-color);
    margin-bottom: 50px;
}
.staff-item {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.staff-master-content {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--title-text-color);
}

.staff-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--prymary-text-color);
    margin-bottom: 10px;
}

.staff-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;

    margin-bottom: 16px;
}
.staff-socials-list {
    display: flex;
    justify-content: center;
}
/* .staff-socials-item {
    
} */
.staff-socials-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #afb1b8;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.staff-socials-icon {
    fill: currentColor;

    /* transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
.staff-socials-link:hover,
.staff-socials-link:focus {
    background-color: #2196f3;
    color: #ffffff;
}

.staff-socials-item + .staff-socials-item {
    margin-left: 10px;
}
/* ------------clients------------ */
.clients-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--prymary-text-color);
}
.clients-list {
    display: flex;
}
.clients-item + .clients-item {
    margin-left: 30px;
}
.clients-link {
    width: 170px;
    height: 92px;

    border: 1px solid #afb1b8;
    border-radius: 4%;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #afb1b8;

    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
    fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
    border: 1px solid #2196f3;
    color: var(--accent-text-color);
}

/* -----------footer------------- */
.footer {
    padding: 60px 0;
    background-color: #2f303a;
}
.footer-conteiner {
    display: flex;
    align-items: baseline;
}
.footer-conteiner-box {
    flex-grow: 1;
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.logo-second {
    color: var(--accent-text-color);
}

.footer-addres {
    display: flex;

    margin-top: 20px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}
/* .footer-list {
} */

.footer-item + .footer-item {
    margin-top: 9px;
}

.footer-link-address {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.footer-link-mail {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-link-tel {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-conteiner-icon {
    margin-left: 70px;
}

.footer-title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.footer-socials-list {
    display: flex;
    justify-content: center;
}

.footer-socials-item + .footer-socials-item {
    margin-left: 10px;
}
.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: var(--accent-text-color);
}
.footer-socials-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-icon {
    fill: var(--title-text-color);
}
.footer-conteiner-socials {
    margin-left: 70px;
}
/* .footer-conteiner-box + .footer-conteiner-mailing {
    margin-left: 93px;
} */

.footer-field {
    display: flex;
}
.footer-imput {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2f303a;

    padding-left: 16px;
}
.footet-imput-wrap + .footet-imput-wrap {
    margin-left: 12px;
}
.footer-conteiner-mailing {
    margin-left: 93px;
}
.footer-btm-imput {
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;

    border-radius: 4px;
    background-color: var(--accent-text-color);
    border-color: transparent;
}
.footer-btm-icon {
    margin-left: 10px;
}
/* ----------BACKDROP---------- */
.backdrop {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: opacity 250ms, visibility 250ms;
}
/* .backdrop.is-hidden .modal {

} */

.modal {
    width: 528px;
    min-height: 581px;
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}
.modal-close-btm {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btm:hover,
.modal-close-btm:focus {
    fill: var(--accent-text-color);
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}
/* .modal-field {
    display: flex;
} */
.modal-iput-wrap {
    position: relative;
}
.modal-iput {
    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 30px;

    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-iput:hover,
.modal-iput:focus {
    border-color: #2196f3;
}

.modal-iput:hover + .form-modal-icon {
    fill: #2196f3;
}
.form-modal-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);

    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field {
    margin-top: 10px;
    /* margin-bottom: 5px; */
}
.comment {
    margin-top: 20px;
}
.modal-label {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: #757575;
    display: block;

    margin-bottom: 5px;
}
.modal-text {
    width: 100%;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    display: block;

    padding-top: 12px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 12px;

    resize: none;
}
.modal-check-text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;

    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-check-text::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid #000;
    border-radius: 2px;
    display: block;
    margin-right: 5px;
}
.modal-check:checked + .modal-check-text::before {
    background-image: url(../images/icon-check.svg);
    border: none;
}

.modal-check-treaty {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196f3;
    margin-left: 4px;
}
.modal-form-btn {
    justify-content: center;
    display: flex;
    margin-top: 30px;
}
.form-btn {
    padding-top: 10px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 10px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--title-text-color);

    min-width: 200px;
    height: 50px;
    border-color: transparent;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
    background: #188ce8;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; */
}
/* -----------PEGE2-portfolio------------ */

/* -----------filter-portfolio------------- */

.filter-list {
    display: flex;

    justify-content: center;

    margin-bottom: 50px;
}

.filter-item + .filter-item {
    margin-left: 8px;
}

.filter-btn {
    /* padding: 6px, 22px; */
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--prymary-text-color);
    border-radius: 5px;
    border: transparent;
    background: #f5f4fa;
    border-radius: 5px;
    min-width: 73px;

    transition-property: color, box-shadow, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-text-color);
    color: var(--title-text-color);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

/* ------HERO2-portfolio------ */
.hero-porfolio {
    padding-top: 34px;
    padding-bottom: 94px;
}

.hero-list-two {
    display: flex;
    margin-left: -30px;
    margin-bottom: -30px;
    flex-wrap: wrap;
}
.hero-item-two {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    /* position: relative; */
}
.hero-item-two:hover .hero-text-top {
    transform: translateY(0%);
}
.hero-item-two:focus .hero-text-top {
    transform: translateY(0%);
}

.hero-wrap {
    position: relative;

    overflow: hidden;
}
.hero-text-top {
    position: absolute;
    top: 0;
    left: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);

    padding: 63px 24px;

    transform: translateY(100%);
    transition: transform 250ms;
}

.hero-link {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    display: block;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-link:hover,
.hero-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.hero-text-box {
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;

    background: #ffffff;
    box-sizing: content-box;
}

.hero-title-two {
    margin: 5px 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--prymary-text-color);
}
.hero-text-two {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--function-text-color);
}
