.header {
    padding-top: 24px;
    padding-bottom: 25px;
    background-color: var(--title-text-color);
    border-bottom: 1px solid #ececec;
}
.header-conteiner {
    display: flex;
}
.navigation {
    display: flex;
    align-items: center;
}
.header-list {
    display: flex;
    margin-left: auto;
}
.header-item {
    & + & {
        margin-left: 50px;
    }
}
.header-connect {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.logo {
    margin-right: 93px;

    font-family: 'Raleway', sans-serif;
    @include font(26px, 700, 31px, 0.03em);

    color: var(--prymary-text-color);

    &-first {
        color: var(--accent-text-color);
    }
}

.header-link {
    @include font(14px, 500, 16px, 0.02em);

    color: var(--prymary-text-color);
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}

.current {
    color: var(--accent-text-color);
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        background-color: var(--accent-text-color);
        border-radius: 2px;
        left: 0;
        bottom: -32px;
    }
}
.header-link-mail {
    display: flex;
    align-items: center;

    fill: var(--function-text-color);

    @include font(14px, 500, 16px, 0.02em);

    color: var(--function-text-color);
    text-decoration: none;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-text-color);
        fill: var(--accent-text-color);
    }
}

.header-icon {
    margin-right: 10px;
}
.header-link-tel {
    display: flex;

    fill: var(--function-text-color);

    @include font(14px, 500, 16px, 0.02em);

    color: var(--function-text-color);
    text-decoration: none;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-text-color);
        fill: var(--accent-text-color);
    }
}
